body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:0;
    padding:0;
    background-color:#c7c4c4;
    

}

header{
    background-color:rgb(186, 164, 164);
    padding:20px;
    text-align: center;
}

header a{
    display:inline-block;
    margin-right: 10px;
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-size: 18px;
    
}
main{
    padding:20px 150px;

}


section{
    background-color:#f3f3f3;
    border-radius: 10px;
    padding:20px;
    margin-bottom: 20px;
    text-align:left;

}

.nome-foto{
    text-align:center;
}

.nome-foto img {
    max-width: 20vw;
    height:auto;
    border-radius: 50%;
    box-shadow: 0 0 30px rgb(121, 97, 97);

}
footer{
    background-color:rgb(186, 164, 164);
    padding: 10px;
    color:rgb(241, 241, 236);
    text-align: center;
}